
#parent{

     position: relative;
    border: 2px solid black;
    height: 500px;
    width: 400px;
    
}


#child{
    position: absolute;
    top: 40px;
    left: 60px;
    height: 300px;
    width: 200px;
    border: 2px solid black;
    background-color: red;
    z-index: 1;
}
#child1{
    position: absolute;
    top: 60px;
    left: 80px;
    height: 300px;
    width: 200px;
    border: 2px solid black;
    background-color: green;
     z-index: 2;
}
#child2{
    position: absolute;
    top: 80px;
    left: 100px;
    height: 300px;
    width: 200px;
    border: 2px solid black;
    background-color: blue;
    z-index: 3;
}   

#buttons{

    #btn{
             height: 40px;
             width: 70px;
             background-color: red;
             color: white;

    }
    margin-top: 430px;
    margin-left: 180px;
    position: absolute;
   z-index: 4;
}